table {
  font-size: 14px;
}

#info-box {
  padding: 15px;
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }

  input {
    font-size: 14px;
    padding: 8px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
  }

  table {
    width: 100%;
    word-break: break-word;
  }

  td {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  td strong {
    display: inline-block;
    width: 100%;
  }
}

/* --- Watermark Image --- */
body::after {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-image: url('watermark.png'); /* نام فایل واترمارک */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}
